#map {
  height: 800px;
  width: 800px;
  margin: auto;
}

#grid-holder {
  height: 800px;
  width: 800px;
  margin: auto;
}

#dest-canvas {
  height: 800px;
  width: 800px;
}

#result {
  font-size: 6.6px;
}

body {
  background-color: #50586C;
}